[
  {
    "ParameterKey": "QoveryJobId",
    "ParameterValue": "QOVERY_JOB_ID_DO_NOT_CHANGE_THIS_VALUE"
  },
  {
    "ParameterKey": "MasterUsername",
    "ParameterValue": ${jsonencode(master_username)}
  },
  {
    "ParameterKey": "MasterPassword",
    "ParameterValue": ${jsonencode(master_password)}
  },
  {
    "ParameterKey": "DatabaseName",
    "ParameterValue": ${jsonencode(database_name)}
  },
  {
    "ParameterKey": "VPCSecurityGroupId",
    "ParameterValue": ${jsonencode(vpc_security_group_id)}
  }
]