[
  {
    "ParameterKey": "QoveryEnvironmentId",
    "ParameterValue": ${jsonencode(qovery_environment_id)}
  },
  {
    "ParameterKey": "MasterUsername",
    "ParameterValue": ${jsonencode(master_username)}
  },
  {
    "ParameterKey": "MasterPassword",
    "ParameterValue": ${jsonencode(master_password)}
  },
  {
    "ParameterKey": "DatabaseName",
    "ParameterValue": ${jsonencode(database_name)}
  }
]