{
  "Parameters": {
    "QoveryEnvironmentId": ${jsonencode(qovery_environment_id)},
    "MasterUsername": ${jsonencode(master_username)},
    "MasterPassword": ${jsonencode(master_password)},
    "DatabaseName": ${jsonencode(database_name)},
  }
}